body{
  margin-top: 10px ;
  background: #f9f9f9;
  text-transform: uppercase;
}
.accordion {
  width: 80vw;
}
.accordion-body button {
  margin-right: 10px;
}
.adding-btn {
  margin-top:50px;
  width: 40vw;
}
